.container {
    max-width: 900px;
    margin: 0 auto;
}
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn {
    padding: 10px 20px;
    background: gray;
    border: 1px solid transparent;
    border-radius: 5px;
}
.btn:hover{
    border: 1px solid black;
    background: white;
    color: black;
}